﻿@page "/counter"

@inject ExternalSiteConfiguration _siteConfig

<PageTitle>Counter</PageTitle>

<h1>Counter: @_siteConfig.FundApiBase</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
